Subs.XMLServiceTest/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendOTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCustomerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pOTP" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendOTPResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizationHeader" type="tns:AuthorizationHeader" />
      <s:complexType name="AuthorizationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Authorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pProductId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pReceiverId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizeResult" type="tns:SeatResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SeatResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Seats" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizeMIC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pReceiverId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizeMICResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizeMICResult" type="tns:MICResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MICResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Seats" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizeToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pTokenId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizeTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizeTokenResult" type="tns:TokenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Seats" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authorizations">
        <s:complexType />
      </s:element>
      <s:element name="AuthorizationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationsResult" type="tns:ArrayOfAuthorizationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAuthorizationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AuthorizationResult" nillable="true" type="tns:AuthorizationResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuthorizationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Seats" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindEMailByCustomerId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCustomerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEMailByCustomerIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindEMailByCustomerIdResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pEmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomerIdByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomerIdByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindCustomerIdByEmailResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomerIdByNationalId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NationalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCustomerIdByNationalIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindCustomerIdByNationalIdResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendOTPSoapIn">
    <wsdl:part name="parameters" element="tns:SendOTP" />
  </wsdl:message>
  <wsdl:message name="SendOTPSoapOut">
    <wsdl:part name="parameters" element="tns:SendOTPResponse" />
  </wsdl:message>
  <wsdl:message name="SendOTPAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="AuthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="AuthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizeAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="AuthorizeMICSoapIn">
    <wsdl:part name="parameters" element="tns:AuthorizeMIC" />
  </wsdl:message>
  <wsdl:message name="AuthorizeMICSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizeMICResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizeMICAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="AuthorizeTokenSoapIn">
    <wsdl:part name="parameters" element="tns:AuthorizeToken" />
  </wsdl:message>
  <wsdl:message name="AuthorizeTokenSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizeTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizeTokenAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="AuthorizationsSoapIn">
    <wsdl:part name="parameters" element="tns:Authorizations" />
  </wsdl:message>
  <wsdl:message name="AuthorizationsSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizationsResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizationsAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="FindEMailByCustomerIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindEMailByCustomerId" />
  </wsdl:message>
  <wsdl:message name="FindEMailByCustomerIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindEMailByCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindEMailByCustomerIdAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:FindCustomerIdByEmail" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:FindCustomerIdByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByEmailAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByNationalIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindCustomerIdByNationalId" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByNationalIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindCustomerIdByNationalIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindCustomerIdByNationalIdAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SendOTP">
      <wsdl:input message="tns:SendOTPSoapIn" />
      <wsdl:output message="tns:SendOTPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <wsdl:input message="tns:AuthorizeSoapIn" />
      <wsdl:output message="tns:AuthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeMIC">
      <wsdl:input message="tns:AuthorizeMICSoapIn" />
      <wsdl:output message="tns:AuthorizeMICSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeToken">
      <wsdl:input message="tns:AuthorizeTokenSoapIn" />
      <wsdl:output message="tns:AuthorizeTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authorizations">
      <wsdl:input message="tns:AuthorizationsSoapIn" />
      <wsdl:output message="tns:AuthorizationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEMailByCustomerId">
      <wsdl:input message="tns:FindEMailByCustomerIdSoapIn" />
      <wsdl:output message="tns:FindEMailByCustomerIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByEmail">
      <wsdl:input message="tns:FindCustomerIdByEmailSoapIn" />
      <wsdl:output message="tns:FindCustomerIdByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByNationalId">
      <wsdl:input message="tns:FindCustomerIdByNationalIdSoapIn" />
      <wsdl:output message="tns:FindCustomerIdByNationalIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOTP">
      <soap:operation soapAction="http://tempuri.org/SendOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendOTPAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthorizeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeMIC">
      <soap:operation soapAction="http://tempuri.org/AuthorizeMIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthorizeMICAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeToken">
      <soap:operation soapAction="http://tempuri.org/AuthorizeToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthorizeTokenAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorizations">
      <soap:operation soapAction="http://tempuri.org/Authorizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthorizationsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEMailByCustomerId">
      <soap:operation soapAction="http://tempuri.org/FindEMailByCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindEMailByCustomerIdAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByEmail">
      <soap:operation soapAction="http://tempuri.org/FindCustomerIdByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindCustomerIdByEmailAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByNationalId">
      <soap:operation soapAction="http://tempuri.org/FindCustomerIdByNationalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindCustomerIdByNationalIdAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOTP">
      <soap12:operation soapAction="http://tempuri.org/SendOTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendOTPAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="http://tempuri.org/Authorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthorizeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeMIC">
      <soap12:operation soapAction="http://tempuri.org/AuthorizeMIC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthorizeMICAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeToken">
      <soap12:operation soapAction="http://tempuri.org/AuthorizeToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthorizeTokenAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorizations">
      <soap12:operation soapAction="http://tempuri.org/Authorizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthorizationsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEMailByCustomerId">
      <soap12:operation soapAction="http://tempuri.org/FindEMailByCustomerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindEMailByCustomerIdAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByEmail">
      <soap12:operation soapAction="http://tempuri.org/FindCustomerIdByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindCustomerIdByEmailAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCustomerIdByNationalId">
      <soap12:operation soapAction="http://tempuri.org/FindCustomerIdByNationalId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindCustomerIdByNationalIdAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.15.87.179:8063/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.15.87.179:8063/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>