Subs.Data/MIMS.Test/Service References/ServiceReference2/Activator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Activator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IActivator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pklmagmims01:8000/MIMS.WcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pklmagmims01:8000/MIMS.WcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pklmagmims01:8000/MIMS.WcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIMS.WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivator_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IActivator_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IActivator_AuthoriseCPDIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthoriseCPDIssue" />
  </wsdl:message>
  <wsdl:message name="IActivator_AuthoriseCPDIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthoriseCPDIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IActivator_GetCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="IActivator_GetCustomerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivator">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivator/Start" message="tns:IActivator_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivator/StartResponse" message="tns:IActivator_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthoriseCPDIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivator/AuthoriseCPDIssue" message="tns:IActivator_AuthoriseCPDIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivator/AuthoriseCPDIssueResponse" message="tns:IActivator_AuthoriseCPDIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivator/GetCustomerInfo" message="tns:IActivator_GetCustomerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivator/GetCustomerInfoResponse" message="tns:IActivator_GetCustomerInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IActivator" type="tns:IActivator">
    <wsp:PolicyReference URI="#WSHttpBinding_IActivator_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IActivator/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthoriseCPDIssue">
      <soap12:operation soapAction="http://tempuri.org/IActivator/AuthoriseCPDIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/IActivator/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Activator">
    <wsdl:port name="WSHttpBinding_IActivator" binding="tns:WSHttpBinding_IActivator">
      <soap12:address location="http://hvmags01:8000/MIMS.WcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://hvmags01:8000/MIMS.WcfService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>