CPD.BusinessOld/Service References/ServiceReference1/MIMS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pklmagmims01:8000/MIMS.WcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIMS.WcfService" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MIMS.WcfService" minOccurs="0" name="pJob" type="q1:Jobs" />
        <xs:element minOccurs="0" name="pDirectoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthoriseCPDIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
        <xs:element minOccurs="0" name="IssueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthoriseCPDIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthoriseCPDIssueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MIMS.WcfService" minOccurs="0" name="GetCustomerInfoResult" nillable="true" type="q2:CustomerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>